[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 3.3
[submodule "thirdparty/mongo-cxx-driver"]
	path = thirdparty/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
    branch = v3.5
[submodule "thirdparty/mongo-c-driver"]
	path = thirdparty/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "docs/gdscript-docs-maker"]
	path = docs/gdscript-docs-maker
	url = https://github.com/GDQuest/gdscript-docs-maker.git
[submodule "docs/site/themes/hugo-theme-learn"]
	path = docs/site/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
